* {
  box-sizing: border-box;
}

button,
input {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body,
button {
  font-family: "Ubuntu", sans-serif;
}

body {
  color: #604d3e;
}

#search-btn,
.hero-overlay button {
  cursor: pointer;
  background-color: #604d3e;
  transition: background-color 100ms ease-out;
}

#search-btn:hover,
#search-btn:active,
.hero-overlay button:hover,
.hero-overlay button:active {
  background-color: #a0381f;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 200ms ease-in-out;
  width: 100%;
  background-color: #fff6ee;
}

/* space for fixed header */
main {
  margin-top: 60px;
}

#nav-topbar {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-group {
  display: flex;
  gap: 20px;
}

#nav-links a,
.nav-group button i {
  transition: all 100ms ease-out;
}

#nav-links a:hover,
#nav-links a:focus,
.nav-group button:hover i,
.nav-group button:focus i {
  color: #a0381f;
}

.nav-group button {
  cursor: pointer;
  color: #604d3e;
}

.nav-left i {
  font-size: 30px;
}

.nav-right i {
  font-size: 25px;
}

#nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
#nav-logo img {
  height: 35px;
  width: auto;
}
#nav-logo h1 {
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 500;
}

#nav-links,
#nav-search-bar input[type=search] {
  border-top: 2px solid #ab998c;
  border-bottom: 2px solid #ab998c;
}

#nav-search-bar {
  z-index: 11;
}
#nav-search-bar form {
  display: flex;
}
#nav-search-bar input[type=search],
#nav-search-bar .autoComplete_wrapper ul {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
#nav-search-bar .autoComplete_wrapper {
  width: calc(100% - 50px);
}
#nav-search-bar input[type=search] {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 0 20px;
}
#nav-search-bar #search-btn {
  height: 50px;
  width: 50px;
}
#nav-search-bar #search-btn i {
  font-size: 20px;
  color: #fff;
}
#nav-search-bar .autoComplete_wrapper ul:not([hidden]) {
  position: absolute;
  width: calc(100% - 50px);
  padding: 30px 20px;
  background-color: #fff;
  border-bottom: 2px solid #ab998c;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#nav-search-bar .autoComplete_wrapper ul:not([hidden]) li {
  cursor: pointer;
}
#nav-search-bar .autoComplete_wrapper ul:not([hidden]) li:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 2px solid #ab998c;
}
#nav-search-bar .autoComplete_wrapper ul:not([hidden]) mark {
  color: #a0381f;
  font-weight: 800;
  background: none;
}

#nav-links {
  display: none;
  z-index: 10;
  background: #eeded1;
}
#nav-links li {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
#nav-links a {
  padding: 0 10px;
  border-radius: 20px;
  border: 2px solid transparent;
}
#nav-links a:hover,
#nav-links a:focus {
  border-color: #a0381f;
}

#hero {
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.hero-overlay h2,
.hero-overlay button {
  border-radius: 20px;
  font-weight: 500;
}
.hero-overlay h2 {
  font-size: 26px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 5px 10px;
  font-weight: 500;
}
.hero-overlay button {
  font-size: 18px;
  background-color: #604d3e;
  color: #fff;
  padding: 6px 15px;
  margin-bottom: 20px;
}
.hero-overlay button:hover,
.hero-overlay button:active {
  background-color: #a0381f;
}

#hero-carousel {
  position: relative;
}
#hero-carousel .glide__slides {
  height: 250px;
}
#hero-carousel .hero-img {
  display: flex;
  align-items: center;
}
#hero-carousel .hero-img img {
  height: auto;
  width: 100%;
}
#hero-carousel .glide__arrow,
#hero-carousel .glide__bullet {
  cursor: pointer;
  color: #604d3e;
}
#hero-carousel .glide__arrows {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
#hero-carousel .glide__arrow {
  font-size: 30px;
}
#hero-carousel .glide__bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#hero-carousel .glide__bullet {
  font-size: 10px;
  transition: opacity 200ms ease-in-out;
  opacity: 0.4;
}
#hero-carousel .glide__bullet:not(:last-child) {
  padding-right: 20px;
}
#hero-carousel .glide__bullet--active {
  opacity: 1;
}

#products,
#collections {
  padding: 30px 20px;
}

.products-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.products-categories button {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid grey;
  transition: all 200ms ease-in-out;
}
.products-categories button.active {
  border-color: darkgoldenrod;
  background-color: palegoldenrod;
}

.product-cards {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-cards:not(.active) {
  display: none;
}

.product-card {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  outline: 2px solid #ab998c;
}

.product-img {
  width: 150px;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.product-name {
  padding: 10px 8px 10px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.product-price {
  padding: 0 8px 10px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  margin-top: auto;
}

#collections h2 {
  font-size: 24px;
  padding-bottom: 30px;
}

.collection-img {
  background-color: goldenrod;
  max-width: 100%;
}

#collection-1 {
  width: 150px;
  height: 300px;
}

#collection-2,
#collection-3 {
  width: 150px;
  height: 150px;
}

#collection-4,
#collection-5 {
  width: 300px;
  height: 150px;
}

footer {
  background-color: lightgrey;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
footer h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.footer-links li:not(:last-child) {
  padding-bottom: 5px;
}

.footer-socials ul {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 24px;
}

@media only screen and (max-width: 380px) {
  #nav-logo h1 {
    display: none;
  }
  #hero-carousel .hero-img img {
    height: 250px;
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
  #nav-search-bar,
  #nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  #nav-links {
    padding: 10px 20px;
  }
  #nav-links li {
    padding: 15px 0;
  }
  #nav-links li:not(:last-child) {
    border-bottom: 2px solid #ab998c;
  }
  #hero-carousel .glide__arrows {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  main {
    margin-top: 100px;
  }
  .nav-left button,
  #nav-search {
    display: none;
  }
  #nav-topbar,
  #nav-links ul {
    max-width: 1000px;
    margin: 0 auto;
  }
  #nav-links {
    display: block;
    height: 40px;
  }
  #nav-links ul {
    padding: 0 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  #nav-links li {
    padding: 10px 0;
  }
  #nav-search-bar {
    position: static;
  }
  #nav-search-bar input[type=search],
  #nav-search-bar .autoComplete_wrapper ul:not([hidden]) {
    border: 2px solid #ab998c;
    width: 450px;
  }
  #nav-search-bar input[type=search] {
    height: 40px;
    border-radius: 20px 0 0 20px;
    border-right: 0;
  }
  #nav-search-bar #search-btn {
    height: 40px;
    width: 50px;
    border-radius: 0 20px 20px 0;
  }
  #nav-search-bar #search-btn i {
    margin-left: -5px;
  }
  #nav-search-bar .autoComplete_wrapper ul:not([hidden]) {
    top: 60px;
    border-radius: 20px;
  }
  .hero-overlay {
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
  }
  .hero-overlay h2 {
    font-size: 36px;
    line-height: 40px;
    padding: 8px 16px;
  }
  .hero-overlay button {
    font-size: 20px;
    padding: 10px 20px;
  }
  #hero-carousel .glide__slides {
    height: 300px;
  }
  .product-cards {
    gap: 30px;
  }
  .product-card {
    max-width: 250px;
  }
  .product-img {
    width: 250px;
    height: 250px;
  }
  .product-name {
    padding: 15px 10px 15px;
    font-size: 26px;
    line-height: 30px;
  }
  .product-price {
    padding: 0 10px 15px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
