* {
  box-sizing: border-box;
}
// reset styles
button {
  border: 0;
  padding: 0;
  background: none;
}
a {
  color: inherit;
  text-decoration: none;
}

// screen reader only (from https://www.a11yproject.com/posts/how-to-hide-content/)
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


// navbar
nav {
  background-color: gray;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-group {
  display: flex;
  gap: 20px;
}

// icons
.nav-btn i {
  font-size: 30px;
}
#nav-close {
  display: none;
}

#nav-logo {
  background-color: pink;
  height: 50px;
  width: 50px;
}

#nav-links {
  display: none;
  position: absolute;
  top: 80px; // under navbar
  left: 0;
  background: lightgray;
  width: 100%;
  padding: 10px 20px;

  li {
    padding: 15px 0;
  }
  li:not(:last-child) {
    border-bottom: 2px solid grey;
  }
}