* {
  box-sizing: border-box;
}
// reset styles
button,
input {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}
a {
  color: inherit;
  text-decoration: none;
}

// screen reader only (from https://www.a11yproject.com/posts/how-to-hide-content/)
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

$brown: #604d3e;
$brown-2: #ab998c;
$accent: #a0381f;
$bg: #fff6ee;
$bg-2: #eeded1;
$font-primary: "Ubuntu", sans-serif;
$font-secondary: "Noto Sans", sans-serif;

body,
button {
  font-family: $font-primary;
}
body {
  color: $brown;
}

#search-btn,
.hero-overlay button {
  cursor: pointer;
  background-color: $brown;
  transition: background-color 100ms ease-out;
}
#search-btn:hover,
#search-btn:active,
.hero-overlay button:hover,
.hero-overlay button:active {
  background-color: $accent;
}

// navbar
header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 200ms ease-in-out;
  width: 100%;
  background-color: $bg;
}
/* space for fixed header */
main {
  margin-top: 60px;
}

#nav-topbar {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-group {
  display: flex;
  gap: 20px;
}

#nav-links a,
.nav-group button i {
  transition: all 100ms ease-out;
}
#nav-links a:hover,
#nav-links a:focus,
.nav-group button:hover i,
.nav-group button:focus i {
  color: $accent;
}

// icons
.nav-group button {
  cursor: pointer;
  color: $brown;
}
.nav-left i {
  font-size: 30px;
}
.nav-right i {
  font-size: 25px;
}

#nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    height: 35px;
    width: auto;
  }
  h1 {
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 500;
  }
}

#nav-links,
#nav-search-bar input[type="search"] {
  border-top: 2px solid $brown-2;
  border-bottom: 2px solid $brown-2;
}

#nav-search-bar {
  z-index: 11;

  form {
    display: flex;
  }
  input[type="search"],
  .autoComplete_wrapper ul {
    font-size: 16px;
    font-family: $font-secondary;
  }
  .autoComplete_wrapper {
    width: calc(100% - 50px); // leave space for search btn
  }
  input[type="search"] {
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 0 20px;
  }
  #search-btn {
    height: 50px;
    width: 50px;

    i {
      font-size: 20px;
      color: #fff;
    }
  }
  // autocomplete popup
  .autoComplete_wrapper ul:not([hidden]) {
    position: absolute;
    width: calc(100% - 50px);
    padding: 30px 20px;
    background-color: #fff;
    border-bottom: 2px solid $brown-2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      cursor: pointer;
    }
    li:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 2px solid $brown-2;
    }
    // highlight on matched letters
    mark {
      color: $accent;
      font-weight: 800;
      background: none;
    }
  }
}

#nav-links {
  display: none;
  z-index: 10;
  background: $bg-2;

  li {
    font-size: 16px;
    font-family: $font-secondary;
    font-weight: 500;
  }
  a {
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid transparent;
  }
  a:hover,
  a:focus {
    border-color: $accent;
  }
}

// hero section
#hero {
  position: relative;
}
// CTA + btn
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;

  h2,
  button {
    border-radius: 20px;
    font-weight: 500;
  }
  h2 {
    font-size: 26px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 5px 10px;
    font-weight: 500;
  }
  button {
    font-size: 18px;
    background-color: $brown;
    color: #fff;
    padding: 6px 15px;
    margin-bottom: 20px;
  }
  button:hover,
  button:active {
    background-color: $accent;
  }
}

#hero-carousel {
  position: relative;

  // slide container
  .glide__slides {
    height: 250px;
  }
  // vertically center img
  .hero-img {
    display: flex;
    align-items: center;

    img {
      height: auto;
      width: 100%;
    }
  }
  .glide__arrow,
  .glide__bullet {
    cursor: pointer;
    color: $brown;
  }
  .glide__arrows {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
  }
  .glide__arrow {
    font-size: 30px;
  }
  .glide__bullets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .glide__bullet {
    font-size: 10px;
    transition: opacity 200ms ease-in-out;
    opacity: 0.4;
  }
  .glide__bullet:not(:last-child) {
    padding-right: 20px;
  }
  .glide__bullet--active {
    opacity: 1;
  }
}

#products,
#collections {
  padding: 30px 20px;
}

// products section
.products-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid grey;
    transition: all 200ms ease-in-out;
  }
  button.active {
    border-color: darkgoldenrod;
    background-color: palegoldenrod;
  }
}

.product-cards {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product-cards:not(.active) {
  display: none;
}

.product-card {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  outline: 2px solid $brown-2;
}
.product-img {
  width: 150px;
  height: 150px;
  border-radius: 20px 20px 0 0;
}
.product-name {
  padding: 10px 8px 10px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}
.product-price {
  padding: 0 8px 10px;
  font-size: 18px;
  font-family: $font-secondary;
  margin-top: auto;
}

// collections section
#collections h2 {
  font-size: 24px;
  padding-bottom: 30px;
}

.collection-img {
  background-color: goldenrod;
  max-width: 100%;
}
#collection-1 {
  width: 150px;
  height: 300px;
}
#collection-2,
#collection-3 {
  width: 150px;
  height: 150px;
}
#collection-4,
#collection-5 {
  width: 300px;
  height: 150px;
}

// footer
footer {
  background-color: lightgrey;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.footer-links li:not(:last-child) {
  padding-bottom: 5px;
}

.footer-socials ul {
  display: flex;
  gap: 10px;
}
.social-icon {
  font-size: 24px;
}

// extra small screens
@media only screen and (max-width: 380px) {
  // hide navbar name
  #nav-logo h1 {
    display: none;
  }
  // adapt hero img sizing
  #hero-carousel .hero-img img {
    height: 250px;
    width: auto;
  }
}
// small screens
@media only screen and (max-width: 767px) {
  .hidden {
    display: none;
  }

  // navbar
  #nav-search-bar,
  #nav-links {
    position: absolute;
    top: 60px; // under navbar
    left: 0;
    width: 100%;
  }

  #nav-links {
    padding: 10px 20px;

    li {
      padding: 15px 0;
    }
    // separator line
    li:not(:last-child) {
      border-bottom: 2px solid $brown-2;
    }
  }

  // hide carousel arrows
  #hero-carousel .glide__arrows {
    display: none;
  }
}

// medium & up screens
@media only screen and (min-width: 767px) {
  // space for fixed header
  main {
    margin-top: 100px;
  }
  
  // hide burger menu & toggle search btn
  .nav-left button,
  #nav-search {
    display: none;
  }

  // navbar
  #nav-topbar,
  #nav-links ul {
    max-width: 1000px;
    margin: 0 auto;
  }
  // display nav links as row under main navbar
  #nav-links {
    display: block;
    height: 40px;

    ul {
      padding: 0 10px;
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
    li {
      padding: 10px 0;
    }
  }

  // position search bar on main navbar
  #nav-search-bar {
    position: static;

    input[type="search"],
    .autoComplete_wrapper ul:not([hidden]) {
      border: 2px solid $brown-2;
      width: 450px;
    }
    input[type="search"] {
      height: 40px;
      border-radius: 20px 0 0 20px;
      border-right: 0;
    }
    #search-btn {
      height: 40px;
      width: 50px;
      border-radius: 0 20px 20px 0;
      
      i {
        margin-left: -5px;
      }
    }
    .autoComplete_wrapper ul:not([hidden]) {
      top: 60px;
      border-radius: 20px;
    }
  }

  // hero
  .hero-overlay {
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;

    h2 {
      font-size: 36px;
      line-height: 40px;
      padding: 8px 16px;
    }
    button {
      font-size: 20px;
      padding: 10px 20px;
    }
  }

  #hero-carousel {
    .glide__slides {
      height: 300px;
    }
  }
}